<% content_for :title, "Edit Category" %>

<div class="p-4 mt-14 bg-white border-1 border-gray-200 rounded-lg dark:border-gray-700">
  <!-- Header Section -->
  <div class="mb-6">
    <h1 class="text-3xl font-bold text-gray-900 dark:text-white mb-2">Edit Category</h1>
    <p class="text-gray-600 dark:text-gray-400">Update the details for "<%= @category.name %>" category.</p>
  </div>

  <!-- Form Section -->
  <div class="bg-white dark:bg-gray-800">
    <%= render 'form' %>
  </div>
</div>